Daily Tech News Summary
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "246dbcd2-a16d-4329-b99d-9b9927be43a6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topstories"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7d860c1b-dde2-4ee0-af0c-a29c58a0eb67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const topstories = $json;\nconst id = topstories[0]\nreturn [\n  {id:id}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "405e7d7b-c0db-4b89-b529-d777c996a5dc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://hacker-news.firebaseio.com/v0/item/{{ $execution.id }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "7481ac67-9769-43f1-9fed-6ab1e9b15b30",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Make a summary of the news in simple language",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        0
      ],
      "id": "9b4e866a-354f-4b74-a833-8959738d632d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "e434ed0c-b36d-4864-83f9-dbed13bb3ca6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LzRqDX48N8sjavuE",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "maddikasirireddy@gmail.com",
        "subject": "Today’s Tech News",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "2f9ab815-d31b-45b1-bc18-c9b1855f3384",
      "name": "Send a message",
      "webhookId": "7a483507-7138-44fa-aa8b-c3bf35056875",
      "credentials": {
        "gmailOAuth2": {
          "id": "EHMkdDArSJyIOdRT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f88d62cfd452937520223ad43f805dc12fdfa30c8d44293c2835f4a567b4192c"
  }
}
