Installation_Request_Automation
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Request an installation",
        "formDescription": "Fill out this form to request an installation. We'll reach out via email to finalize your\nappointment.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Contact Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Install Date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -96,
        -32
      ],
      "id": "51ed38bd-504d-4bf1-8823-f653724db8a3",
      "name": "On form submission",
      "webhookId": "3f00c6ce-53ae-4385-8174-5a94f3893283"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "416fdde5-eda9-4895-8b12-cbdf4621b8e8",
              "leftValue": "={{ $json['Preferred Install Date'] }}",
              "rightValue": "={{$now.plus(7, 'days').toDateTime()}}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -32
      ],
      "id": "08099d9b-2daa-4a61-8cdc-b46b2a40fd15",
      "name": "Is within 7 days"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        96
      ],
      "id": "bc79d417-3ff4-4d9b-bf5a-20bccf54c2d4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AF5LLL754",
          "mode": "list",
          "cachedResultName": "all-n8n-lab-workspace"
        },
        "text": "=New install request within 7 days.\nContact email: {{ $json['Contact Email'] }}\nPreferred install day: {{ $json['Preferred Install Date'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        480,
        -192
      ],
      "id": "5de72826-d562-4ec4-8787-3da50b290ed8",
      "name": "Send a message",
      "webhookId": "2384b483-a1d4-4147-b8b6-f87fae6c27f4",
      "credentials": {
        "slackApi": {
          "id": "FV5Dui5QqGAKxyXh",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Is within 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is within 7 days": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f88d62cfd452937520223ad43f805dc12fdfa30c8d44293c2835f4a567b4192c"
  }
}
